
body {
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
}

/* NAVBAR */

.nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    height: 48px;
}

.navBar {
    display: flex;
    align-items: center;
    padding-right: 15px
}

.navItem {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.navImg {
    padding-left: 25px;
}

.round {
    border-radius: 50%;
}


/* Google image*/

.middleArea {
    display: flex;
    flex-direction: column;
    height: calc(100%-560px);
    width: 100%;
    align-items: center;
    justify-content: center;

}

.googleImg {
    padding-top: 10%;
    padding-bottom: 20px;
}

.searchBar {
    background-color: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    width: 580px;
    margin-top: 15px;
    align-items: center;
    padding-left: 10px;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    height: 34px;
    width: 86%;
}

.searchIcon {
    height: 25px;
    width: 25px;
}


.searchButtons {
    margin: 30px;
}

button {
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #3c4043;
    height: 36px;
    cursor: pointer;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
    margin:0 8px;
    padding: 0 16px;
}
/* hovers */

.searchBar:hover {
    box-shadow: 0px 1.5px 5px 1px #ddd;
}

.navItem:hover {
    text-decoration: underline;
}

button:hover {
    border: 1px solid #dfe1e5;
}